h1{
  font-family: 'Prata', serif;
  font-weight: bold;
  color:#8B0000;
  padding-left: 20px;
  padding-top: 20px;
  border-bottom-width: 25px;
  padding-bottom: 25px;
  text-align: center;
}

p{
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

#page-image{
  margin-bottom: 20px;
  margin-left: 200px
}
