#content{
  margin-left:210px;
}



/*--------------------------------*/

h2{
  font-family: 'Prata', sans-serif;
  font-size: 35px;
  text-align: center;
  color:#8B0000;
}

p{
  font-family: sans-serif;
  font-size: 16px;
}

.menu-time{
  text-align: center;
  font-style: italic;
}

.menu-name{
  font-style: italic;
  font-size: 20px;
  color: #8B0000;
}
