
#content{
  margin-left:210px;
}

.box-one{
    height: 850px;
    width: 95%;
    background-color: white;
}





/*--------------------------------*/

h2{
  font-family: '';
  font-size: 35px;
  text-align: center;
  color:grey;
}

p{
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}
